<header>
  <nav>
    <h1>xwitter</h1>

    <ul>
      <li><a href="{% url 'feed' %}">feed</a></li>
      <li><a href="{% url 'profiles' %}">profiles</a></li>

      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' request.user.id %}">my profile</a></li>
      <li><a href="{% url 'logout' %}">logout</a></li>
      {% else %}
      <li><a href="{% url 'register' %}">register</a></li>
      <li><a href="{% url 'login' %}">login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
