<header>
  <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h2>Xwitter</h2>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'feed' %}"
              >Feed</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'profiles' %}"
              >Find People</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'register' %}"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'login' %}"
              >Login</a
            >
          </li>
          {% endif %}
        </ul>

        <ul class="d-flex navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {% if user.profile.image %}
              <img
                src="{{ user.profile.image.url }}"
                alt="{{ user.username }}"
                height="50"
                width="50"
                style="object-fit: cover"
                class="rounded-circle"
              />
              {% else %}
              <img
                src="https://ui-avatars.com/api/?name={{ user.username | lower }}"
                alt="{{ user.username }}"
                height="50"
                width="50"
                style="object-fit: cover"
                class="rounded-circle"
              />
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'profile' user.id %}"
                  >Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'profile_update' %}"
                  >Edit Profile</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
