<header>
  <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <h2>xwitter</h2>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <!-- GENERAL LINKS -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'feed' %}"
              >feed</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'profiles' %}"
              >find people</a
            >
          </li>
        </ul>
        <!-- LINKS LINKED WITH AUTH -->
        <ul class="d-flex navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'profile' request.user.id %}"
              >my profile</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'logout' %}"
              >logout</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'register' %}"
              >register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'login' %}"
              >login</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
