{% extends 'skeleton.html' %}

<!--  -->

{% block title %} | Feed {% endblock %}

<!--  -->

{% block body %}

<!--  -->

<form method="post" class="card mb-5">
  <div class="card-header">
    <h2>Post a Xweet</h2>
  </div>
  <div class="card-body">
    {% csrf_token %}
    <!--  -->
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Xweet</button>
  </div>
</form>

<div class="card">
  <div class="card-header">
    <h2>Your Feed</h2>
  </div>
  <ul class="card-body">
    {% for tweet in tweets %}
    <li class="card mt-3">
      <div class="card-body">
        <div class="col-1 mb-4">
          {% if tweet.user.profile.image %}
          <img
            src="{{ tweet.user.profile.image.url }}"
            alt="Profile Picture"
            height="50"
            width="50"
            style="object-fit: cover"
            class="rounded-circle"
          />
          {% else %}
          <img
            src="https://ui-avatars.com/api/?name={{ tweet.profile.user.username | lower }}"
            alt="Profile Picture"
            height="50"
            width="50"
            style="object-fit: cover"
            class="rounded-circle"
          />
          {% endif %}
        </div>
        <div class="col-11">
          <p style="font-size: 1.1rem">{{ tweet.text }}</p>
          <small>
            Xweeted by
            <a href="{% url 'profile' tweet.user.id %}">
              @{{ tweet.user.username }}
            </a>
            at {{ tweet.created_at }}
          </small>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
