{% extends 'skeleton.html' %}

<!--  -->

{% block body %}

<!--  -->

{% if profile %}
<!--  -->
<fieldset>
  <legend>
    <h2>@{{ profile.user.username | lower }}'s</h2>
  </legend>
  {% if request.user.id == profile.user.id %}
  <h4>
    <a href="{% url 'profile_update' %}">edit profile</a>
  </h4>
  {% endif %}

  <!--  -->

  {% if profile.image %}
  <img src="{{ profile.image.url }}" alt="profile picture" />
  {% else %}
  <img
    src="https://ui-avatars.com/api/?name={{ profile.user.username | lower }}"
    alt="profile picture"
  />
  {% endif %}

  <p>{{ profile.user.email }}</p>

  <ul style="list-style: none">
    <h3>tweets:</h3>
    {% for tweet in tweets %}
    <li>
      <fieldset>
        <p>{{ tweet.text }}</p>
        <small> {{ tweet.created_at }} </small>
      </fieldset>
    </li>
    {% endfor %}
  </ul>

  <ul>
    <h3>following:</h3>
    {% for following in profile.follows.all %}
    <li>
      <a href="{% url 'profile' following.user.id %}">
        @{{ following | lower }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <ul>
    <h3>followers:</h3>
    {% for followers in profile.followed_by.all %}
    <li>
      <a href="{% url 'profile' followers.user.id %}">
        @{{ followers | lower }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <form action="" method="post">
    {% csrf_token %}
    <!--    -->
    {% if profile in user.profile.follows.all %}
    <button type="submit" name="action" value="unfollow">
      Unfollow @{{ profile.user.username | lower }}
    </button>
    {% else %}
    <button type="submit" name="action" value="follow">
      Follow @{{ profile.user.username | lower }}
    </button>
    {% endif %}
  </form>
</fieldset>
<!--  -->
{% endif %}
<!--  -->
{% endblock %}
