{% extends 'skeleton.html' %}

<!--  -->

{% block title %} | @{{ profile.user.username | lower }} {% endblock %}

<!--  -->

{% block body %}

<div class="card mb-5">
  <div class="card-header">
    <h1>@{{ profile.user.username | lower }}'s profile</h1>
  </div>
  <div class="card-body">
    {% if profile.image %}
    <img
      src="{{ profile.image.url }}"
      alt="Profile Picture"
      class="rounded card-img-top"
      style="width: 20rem; height: 20rem; object-fit: cover"
    />
    {% else %}
    <img
      src="https://ui-avatars.com/api/?name={{ profile.user.username | lower }}"
      alt="Profile Picture"
      class="rounded card-img-top"
      style="width: 20rem; height: 20rem; object-fit: cover"
    />
    {% endif %}

    <div class="my-3">
      <h2>{{ profile.user.username }}</h2>
      <h2>{{ profile.user.email }}</h2>
    </div>

    {% if request.user.id == profile.user.id %}
    <a href="{% url 'profile_update' %}" class="btn btn-primary"
      >Edit Profile</a
    >
    {% else %}
    <form method="post">
      {% csrf_token %}
      <!--    -->
      {% if profile in user.profile.follows.all %}
      <button
        type="submit"
        name="action"
        value="unfollow"
        class="btn btn-danger"
      >
        Unfollow @{{ profile.user.username | lower }}
      </button>
      {% else %}
      <button
        type="submit"
        name="action"
        value="follow"
        class="btn btn-primary"
      >
        Follow @{{ profile.user.username | lower }}
      </button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>

<div class="d-flex align-items-start justify-content-between">
  <div class="card mx-2">
    <div class="card-header">
      <h2>Tweets</h2>
    </div>

    <ul class="card-body">
      {% for tweet in tweets %}
      <li class="card p-3 mt-2">
        <p style="font-size: 1.25rem">{{ tweet.text | safe }}</p>
        <small><strong>Posted At: </strong>{{ tweet.created_at }} </small>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="mx-2">
    <div class="card mb-2">
      <div class="card-header">
        <h2>Following</h2>
      </div>
      <ul class="card-body px-5">
        {% for following in profile.follows.all %}
        <li class="p-2 mt-2 card">
          <div class="col-1">
            {% if following.image %}
            <img
              src="{{ following.image.url }}"
              alt="Profile Picture"
              height="50"
              width="50"
              style="object-fit: cover"
              class="rounded-circle"
            />
            {% else %}
            <img
              src="https://ui-avatars.com/api/?name={{ following.user.username | lower }}"
              alt="Profile Picture"
              height="50"
              width="50"
              style="object-fit: cover"
              class="rounded-circle"
            />
            {% endif %}
          </div>
          <div class="col-11">
            <a href="{% url 'profile' following.user.id %}">
              @{{ following.user.username | lower }}
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        <h2>Followers</h2>
      </div>
      <ul class="card-body px-5">
        {% for follower in profile.followed_by.all %}
        <li class="p-2 mt-2 card">
          <div class="col-1">
            {% if follower.image %}
            <img
              src="{{ follower.image.url }}"
              alt="Profile Picture"
              height="50"
              width="50"
              style="object-fit: cover"
              class="rounded-circle"
            />
            {% else %}
            <img
              src="https://ui-avatars.com/api/?name={{ follower.user.username | lower }}"
              alt="Profile Picture"
              height="50"
              width="50"
              style="object-fit: cover"
              class="rounded-circle"
            />
            {% endif %}
          </div>
          <div class="col-11">
            <a href="{% url 'profile' follower.user.id %}">
              @{{ follower.user.username | lower }}
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
