{% extends 'skeleton.html' %}

<!--  -->

{% block title %} | Profiles {% endblock %}

<!--  -->

{% block body %}

<div class="card mb-5">
  <div class="card-header">
    <h3>Search for a Profile</h3>
  </div>
  <form method="get" class="card-body">
    <div class="input-group">
      <span class="input-group-text">@</span>
      <div class="form-floating is-invalid">
        <input
          type="text"
          class="form-control"
          id="floatingInputGroup2"
          placeholder="Username"
          required
        />
        <label for="floatingInputGroup2">Username</label>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<!--  -->
<div class="card">
  <div class="card-header">
    <h3>Popular Profiles</h3>
  </div>
  <div class="card-body">
    {% for profile in profiles %}
    <div class="card mt-3 p-3">
      <div class="col-1">
        {% if profile.image %}
        <img
          src="{{ profile.image.url }}"
          alt="Profile Picture"
          height="100"
          width="100"
          style="object-fit: cover"
          class="rounded-circle"
        />
        {% else %}
        <img
          src="https://ui-avatars.com/api/?name={{ tweet.profile.user.username | lower }}"
          alt="Profile Picture"
          height="100"
          width="100"
          style="object-fit: cover"
          class="rounded-circle"
        />
        {% endif %}
      </div>
      <div class="col-11">
        <h3>
          <a href="{% url 'profile' profile.user.id %}"
            >@{{ profile.user.username | lower }}</a
          >
        </h3>
        <h4>Followed by {{ profile.followed_by.count }} Profile</h4>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!--  -->
{% endblock %}
