{% extends 'skeleton.html' %}

<!--  -->

{% block body %}

<h3>search a user:</h3>

<center>
  <form action="" method="get">
    <h3 style="display: inline">@</h3>
    <input type="text" placeholder="type a username" required />
    <button type="submit">search</button>
  </form>
</center>

<!--  -->
<h3>popular profiles:</h3>

{% for profile in profiles %}
<fieldset>
  <figure>
    <img
      src="https://ui-avatars.com/api/?name={{ profile.user.username | lower }}"
      alt="profile picture"
    />
  </figure>
  <h3>
    <a href="{% url 'profile' profile.user.id %}"
      >@{{ profile.user.username | lower }}</a
    >
  </h3>
  <p>followed by {{ profile.followed_by.count }} profile</p>
</fieldset>
{% endfor %}

<!--  -->
{% endblock %}
