{% extends 'skeleton.html' %}

<!--  -->

{% block title %} | Tweet {% endblock %}

<!--  -->

{% block body %}

<div class="card">
  <div class="card-body">
    <div class="col-1 mb-4">
      {% if tweet.user.profile.image %}
      <img
        src="{{ tweet.user.profile.image.url }}"
        alt="Profile Picture"
        height="50"
        width="50"
        style="object-fit: cover"
        class="rounded-circle"
      />
      {% else %}
      <img
        src="https://ui-avatars.com/api/?name={{ tweet.profile.user.username | lower }}"
        alt="Profile Picture"
        height="50"
        width="50"
        style="object-fit: cover"
        class="rounded-circle"
      />
      {% endif %}
    </div>
    <div class="col-11">
      <p style="font-size: 1.1rem">{{ tweet.text | safe }}</p>
      <div class="btn-group">
        <button class="btn disabled">{{ tweet.likes_count }}</button>
        {% if user in tweet.likes.all %}
        <a href="{% url 'like' tweet.id %}" class="btn btn-danger"> Unlike </a>
        {% else %}
        <a href="{% url 'like' tweet.id %}" class="btn btn-primary"> Like </a>
        {% endif %}
      </div>
      <div class="mt-2">
        <small>
          Xweeted by
          <a href="{% url 'profile' tweet.user.id %}">
            @{{ tweet.user.username }}
          </a>
          at {{ tweet.created_at }}
        </small>
      </div>
    </div>

    <div class="card m-2">
      <div class="card-header">
        <h2>Comments ( {{ tweet.comments.count }} )</h2>
      </div>
      <form method="post" class="card m-3">
        <div class="card-header">
          <h3>Post a Comment</h3>
        </div>
        <div class="card-body">
          {% csrf_token %}
          <!--  -->
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Comment</button>
        </div>
      </form>
      <ul class="card-body">
        {% for comment in tweet.comments.all %}
        <li class="card mt-2">
          <div class="card-body">
            <div class="col-1 mb-4">
              {% if comment.user.profile.image %}
              <img
                src="{{ comment.user.profile.image.url }}"
                alt="Profile Picture"
                height="50"
                width="50"
                style="object-fit: cover"
                class="rounded-circle"
              />
              {% else %}
              <img
                src="https://ui-avatars.com/api/?name={{ comment.profile.user.username | lower }}"
                alt="Profile Picture"
                height="50"
                width="50"
                style="object-fit: cover"
                class="rounded-circle"
              />
              {% endif %}
            </div>
            <div class="col-11">
              <p style="font-size: 1.1rem">{{ comment.text | safe }}</p>
            </div>
            <div class="mt-2">
              <small>
                Commented by
                <a href="{% url 'profile' comment.user.id %}">
                  @{{ comment.user.username }}
                </a>
                at {{ comment.created_at }}
              </small>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
